body {
    display: block;
    margin: 8px;
}
* {
    box-sizing: border-box;
}
header {
    background-color: tomato;
    height: 100px;
    position: relative;
    display: block;
}
nav {
    position: absolute;
    margin: 20px;
    display: block;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li {
    display: inline;
    margin: 10px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    text-align: -webkit-match-parent;
}
main {
    height: 500px;
    display: block;
}
.left {
    width: 20%;
    background-color: rgb(203, 235, 235);
}
.left, .content, .right {
    float: left;
    height: 500px;
}
div {
    display: block;
}
.content {
    padding: 20px;
    width: 60%;
    background-color: thistle;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
ol > li {
    display: list-item;
    background-color: thistle;
}
.right {
    width: 20%;
    background-color: wheat;
}
footer {
    display: block;
    background-color: yellowgreen;
    height: 100px;
}
@media screen and (max-width:500px) {
    .left, .content, .right {
        width: 100%;
    }
}